body {
  box-sizing: border-box;
  padding-bottom: 1rem;
  border-top: 1rem solid rgb(71, 85, 172);
  padding-top: 4px;
}

.head {
  text-align: center;
  font-weight: 700;
  color: rgb(107, 107, 110);
  font-size: 2.2rem;
}
#temp2 {
  display: none;
}

.p {
  color: rgb(90, 87, 87);
  font-weight: 600;
}
.form-inputs {
  margin-top: 0.8rem;
}

.form-label {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(90, 87, 87);
}

.form-inputssub {
  margin-top: 0.4rem;
}

.form-labelsub {
  color: rgb(142, 140, 140);
  font-weight: 700;
}

.btn-co {
  text-align: center;
  margin-top: 0.5rem;
}

.button {
  background: rgb(77, 77, 162);
  font-size: 1rem;
  color: white;
  font-weight: 700;
  transition: transform 200ms ease;
}

.button:hover {
  color: white;
  transform: scale(1.1);
}

.button2 {
  background: rgb(74, 74, 160);
  color: white;
  font-weight: 700;
  font-size: 1rem;
  transition: color 150ms ease;
  margin-top: 1rem;
}

.button2:hover {
  color: rgb(204, 199, 199);
}

.button-sub {
  background: rgb(77, 77, 162);
  font-size: 0.6rem;
  color: white;
  border: 1px solid white;
  transition: transform 200ms ease;
  float: right;
  margin: 3px;
}
.button-sub:hover {
  cursor: pointer;
}

@media (min-width: 782px) {
  .button2 {
    font-weight: 750;
    font-size: 1.29rem;
  }
}

.from {
  font-size: 0.9rem;
  margin-right: 6px;
  color: grey;
}

.from-to {
  font-size: 0.9rem;
  margin-right: 6px;
  color: grey;
  margin-left: 4px;
}
/* .form-work{
  display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} */
.ff {
  width: 32%;
}

.too {
  width: 32%;
}
#b1_button{
  background: rgb(77, 77, 162);
    font-size: 0.6rem;
    color: white;
    border: 1px solid white;
    transition: transform 200ms ease;
    float: right;
    margin: -5px 2px;
}


/* .res{
  display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} */
.ff8 {
  width: 32%;
}

.too8 {
  width: 32%;
}
#res_button{
  background: rgb(77, 77, 162);
    font-size: 0.6rem;
    color: white;
    border: 1px solid white;
    transition: transform 200ms ease;
    float: right;
    margin: -5px 2px;
}



/*#input_f {
      display: none;
    }*/

/*template*/

.card {
  margin: 5px;
  margin-top: 2px;
  margin-left: 0px;
  margin-right: 0px;
}

.card-title {
  margin: 4.1px;
  margin-top: 2px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 1.25rem;
  font-weight: 770;
  background-color: #c6d1cf;
  padding: 4px;
}

.card-body {
  background: rgb(240 242 242);
  padding: 0;
}

.address-cont {
  margin: 5px;
  margin-top: 0px;
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 0.9rem;
}

#temp2 {
  border: 2.6px solid rgb(113, 110, 110);
  padding: 2px;
}

.edtc {
  margin-top: 0.6rem;
}

.acad_card {
  margin-top: 0px;
}

.scaling {
  transform: scaleX(0.8);
  margin-top: 1rem;
}

#IN-list {
  padding-left: 0rem;
}


#P-list {
  padding-left: 0rem;
}


.hea {
  color: rgb(88, 85, 85);
  font-size: 1.2rem;
  font-weight: 600;
}

#chek {
  margin: 1rem;
  margin-top: 1.4rem;
}

.hear {
  color: rgb(86, 83, 83);
  font-size: 1.15rem;
  font-weight: 600;
  margin-left: 1rem;
  display: none;
}

.semx {
  display: none;
}
.semx0 {
  display: none;
}

.semdisp {
  display: none;
}

.semdisp4 {
  display: none;
}

.display {
  display: table;
}
.thead10 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  font-weight: 800;
  text-align: center;
}
.thead0 {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  font-weight: 800;
  text-align: center;
}
.table > :not(caption) > * > * {
  padding: 0;
}

.thead-0 {
  font-weight: 800;
  text-align: center;
  background: #e3e3e3;
  border-bottom: transparent;
  border-right: 5px solid rgb(240, 242, 242);
}

.thead-0 > :not(caption) > * > * {
  background-color: transparent;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: none;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-style: none;
}

.c9-d {
  display: none;
}

.c9-dd {
  display: block;
}

.button3 {
  background: rgb(74, 74, 160);
  color: white;
  font-weight: 700;
  font-size: 1rem;
  transition: color 150ms ease;
  margin-top: 0.4rem;
}

.button3:hover {
  cursor: pointer;
}
.copy {
  display: none;
}

#names_ {
  text-align: center;
  font-weight: 700;
  font-size: 2.4rem;
  margin: 0.3rem;
}
.right1{
  text-align: right;
}
.btn11{
  background: rgb(77, 77, 162);
  font-size: 0.6rem;
  color: white;
  border: 1px solid white;
  transition: transform 200ms ease;
  float: right;
  margin: -4px 2px;
}
.btn12{
  background: rgb(77, 77, 162);
  font-size: 0.6rem;
  color: white;
  border: 1px solid white;
  transition: transform 200ms ease;
  float: right;
  margin: -4px 2px;
}
#b1_button{
  background: rgb(77, 77, 162);
    font-size: 0.6rem;
    color: white;
    border: 1px solid white;
    transition: transform 200ms ease;
    float: right;
    margin: -5px 2px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 2
px
;
  margin-bottom: 2
px
;
  font-weight: 500;
  line-height: 1.2;




}